.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e8ffa8;
  height: 100%;
  width: 100%;
}

.pic-2, .pic-1{
  margin-top: 4em;
}

.weather,
.sticky {
  cursor: pointer;
}


.weather:hover {
  animation: pulse;
  animation-duration: 1s;
}

.sticky:hover {
  animation: pulse;
  animation-duration: 1s;
}

svg {
  margin-bottom: 50px;
  color: black;
  width: 500px;
  height: 500px;
  margin-top: 10px;
  padding-top: 10px;
}

svg:hover {
  animation: pulse;
  animation-duration: 1s;
}

@media screen and (max-width: 768px) {
  .projects-wrap{
    background-color: #e8ffa8;
    height: 100%;
    margin-top: 2em;
  }
  .projects {
    height: 100%;
    width: 100%;
  }
  .weather,
  .sticky {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    margin-top: 40px;
  }

  .pic {
    width: 10em;
    height: 10em;
    padding: 2em;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    height: 100%;
  }
  .weather,
  .sticky {
    cursor: pointer;
    width: 50%;
    height: 50%;
    padding-left: 10px;
  }

  .pic {
    width: 500px;
    height: 500px;
    margin-top: 10px;
    padding-top: 10px;
  }
}
