.wrapper {
  background-color: #a4f3de;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
.btn-1 {
  animation: backInRight;
  animation-duration: 0.5s;
}

.btn-3 {
  animation: pulse;
  animation-duration: 0.5s;
}

.btn-3:hover {
  animation: pulse;
  animation-duration: 1s;
  cursor: pointer;
}
.pic-icon4{
  width: 8em;
  height: 8em;
}

.pic-icon1:hover,
.pic-icon2:hover,
.pic-icon3:hover,
.pic-icon4:hover {
  animation: pulse;
  animation-duration: 2s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
    width: 100%;
  }
  .pic-icon1,
  .pic-icon2,
  .pic-icon3,
  .pic-icon4{
    width: 5em;
    height: 5em;
  }
  .pic {
    width: 5em;
    height: 5em;
  }
  .btn-1,
  .btn-3 {
    animation: none;
    width: 10em;
  }
}
